body,
html {
  margin: 0;
  padding: 0;
}

/** Hero */

.hero {
  background-image: url(img/japan-bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;

  display: flex;
  align-items: center;

  padding: 5rem 6rem 0 6rem;

  /* border: #ff1535 solid 3px; */
}

/* Start main section of area 1*/

.hero .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* border: #ff1535 solid 3px; */
}

.hero #banner-get-started {
  background-color: rgba(225, 225, 225, 0.9);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero #banner-get-started img {
  width: 70%;

  margin-top: 80px;

  /* border: 1px solid #000; */
}

.hero #banner-text {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 60px;

  letter-spacing: 5px;
  line-height: 60px;

  background-color: rgba(0, 0, 0, 0.9);
}

.hero #banner-text h5 {
  width: 100%;
  height: 100%;
  padding: 0 30px;

  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
}

.hero #get-started-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #e8505b 3px;
  width: 60%;
  height: 60px;
  overflow: hidden;
  transition: 1.25s;

  margin: 80px auto;

  margin-bottom: 5rem;
}

.hero #get-started-btn a {
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-weight: bolder;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  text-transform: uppercase;
  transition: 1.25s ease-out;
}

.hero #get-started-btn a:hover {
  color: white;
  background: #931a25;
  box-shadow: 0 0 10px #c44a54, 0 0 40px #931a25, 0 0 80px #931a25;
  transition-delay: 1.25s;
}

.hero #get-started-btn a span {
  position: absolute;
  display: block;
}

.hero #get-started-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #ff223f);
}

.hero #get-started-btn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.hero #get-started-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 6px;
  background: linear-gradient(270deg, transparent, #ff223f);
}

.hero #get-started-btn:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.hero #get-started-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff223f);
}

.hero #get-started-btn:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.hero #get-started-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 6px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff223f);
}

.hero #get-started-btn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/** Overview */

.overview {
  margin: 0;
  background-image: url(img/Japan-bg-2.jpg);
  background-size: cover;
  background-position: center;
}

.overview .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
}

.overview #overview-table table {
  border-collapse: collapse;
  transition: 0.5s ease-out;
}

.overview #overview-table table:hover {
  box-shadow: 0 0 10px #c44a54, 0 0 40px #931a25, 0 0 80px #931a25;
  transition: 0.5s ease-out;
}

.overview .row-header,
.overview .row-data {
  background-color: rgba(236, 100, 75, 0.8);

  padding: 10px 15px;
}

.overview #overview-table tr:last-child .row-header,
.overview #overview-table tr:nth-child(2) .row-header {
  padding: 25px 15px;
}

.overview table .sony-building {
  display: block;
  width: 100%;
}

.overview .row-header {
  font-weight: bold;
  text-align: right;
}

.overview #overview-txt-1 {
  padding: 40px;
  background: #ffd5cd;
  color: black;
  margin-bottom: 50px;
  transition: 0.5s ease-out;
}

.overview #overview-txt-2 {
  padding: 40px;
  background: #ffd5cd;

  color: black;
  transition: 0.5s ease-out;
}

.overview #overview-txt-1:hover,
.overview #overview-txt-2:hover {
  box-shadow: 0 0 10px #fccbcb, 0 0 20px #fccbcb, 0 0 40px #fccbcb;
  transition-duration: 0.5s ease-out;
}

.overview #overview-txt-1 h5 {
  text-align: center;
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
}

.overview #overview-txt-2 p {
  line-height: 40px;
  font-size: 26px;
}

/** Commercial */
.commercials {
  margin: 0;
  width: 100%;
  background-image: url(img/akihabara.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.commercials .commercial-1 {
  background-color: white;
  padding: 0;
}

.commercials .commercial-1.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.commercials .commercial-heading-1 {
  width: 100%;
  padding: 20px;
  line-height: 70px;
  text-align: center;
}

.commercials .commercial-heading-1 h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.commercials .commercial-2 {
  margin-top: 100px;
}

.commercials .commercial-2.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.commercials .commercial-heading-2 {
  border: white solid 3px;
  margin-top: 130px;
  padding: 20px;
  line-height: 70px;
  text-align: center;
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.commercials .video iframe {
  display: block;
}

.commercials .video-1 iframe {
  width: 600px;
  height: 500px;
}

.commercials .video-2 > iframe {
  width: 100%;
  height: 700px;
}

/** Location */
.location {
  background: url(img/akihabara-2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.location .map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b9e1dc;
  transition: 0.5s ease-out;
}

.location .map-container:hover {
  box-shadow: 0 0 10px #b9e1dc, 0 0 20px #66bfbf, 0 0 40px #56a7a7;
  transition: 0.5s ease-out;
}

.location #map-header {
  padding: 20px 58px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.location #map-header h2 {
  letter-spacing: 4px;
  font-family: "Libre Baskerville", serif;
  color: #1b262c;
}

.location #map > iframe {
  display: block;
  width: 600px;
  height: 450px;
}

@media all and (max-width: 1080px) {
  .hero {
    height: auto;
    padding: 7rem 5rem;
  }

  .hero .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    /* border: #ff1535 solid 3px; */
  }

  .hero .logo2 {
    width: 60%;
    margin: 0;
    margin-top: 20px;

    /* border: 1px solid #000; */
  }

  .hero #banner-get-started {
    padding: 50px;

    /* border: 3px solid white; */
  }

  .hero #banner-text {
    letter-spacing: 9px;
    line-height: 50px;
  }

  .hero #banner-text h5 {
    font-size: 1.7rem;
  }

  .overview .grid {
    grid-template-columns: 1fr;
  }

  .overview .oveview-txt-contain {
    margin-top: 5rem;
  }

  .commercials .commercial-1.grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .commercials .commercial-2.grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .commercials .video-1 > iframe {
    width: 100%;
    height: 500px;
  }

  .commercials .video-2 > iframe {
    width: 100%;
    height: 700px;
  }

  .location .map-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  .location #map > iframe {
    width: 100%;
    height: 450px;
  }
}

@media all and (max-width: 680px) {
  .hero {
    padding: 7rem 1rem;
  }

  .overview,
  .commercials,
  .location {
    padding: 4rem 1rem;
  }

  .hero {
    height: auto;
  }

  .hero #banner-get-started {
    padding: 0;

    width: 100%;

    /* border: #ff1535 solid 3px; */
  }

  .hero #banner-get-started img {
    width: 190px;
    margin: 0 auto;

    margin-top: 40px;
  }

  .hero #banner-text {
    padding: 25px;
    width: 100%;

    letter-spacing: 2px;
    line-height: 50px;

    background-color: rgba(0, 0, 0, 0.8);
  }

  .hero #banner-text h5 {
    font-size: 1rem;
  }

  .hero #get-started-btn {
    width: 170px;
    height: 36px;

    margin: 50px auto;

    border: solid #e8505b 2px;
  }

  .hero #get-started-btn a {
    font-size: 0.5rem;
  }

  .hero #get-started-btn a:hover {
    font-size: 0.5rem;
  }

  .hero #get-started-btn span:nth-child(1),
  .hero #get-started-btn span:nth-child(3) {
    height: 2px;
  }

  .hero #get-started-btn span:nth-child(2),
  .hero #get-started-btn span:nth-child(4) {
    width: 4px;
  }

  .overview .row-header,
  .overview .row-data {
    font-size: 0.7rem;
  }

  .overview #overview-txt-1 h5 {
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin: 0;
  }

  .overview #overview-txt-2 p {
    font-size: 1rem;
    line-height: initial;
  }

  .commercials .commercial-heading-1,
  .commercials .commercial-heading-2 {
    padding: 20 80px;
    line-height: 50px;
    font-size: 0.6rem;
  }

  .commercials .commercial-heading-1 {
    text-align: center;
  }

  .commercials .commercial-heading-2 {
    margin-top: 1rem;
  }

  .commercials .video-1 iframe {
    width: 100%;
    height: 300px;
  }

  .commercials .video-2 > iframe {
    width: 100%;
    height: 300px;
  }

  .location #map-header {
    font-size: 12px;
    line-height: 30px;
  }
}
