/** Utilities  */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/** Padding */
.py1 {
  padding: 1rem 0;
}

.py2 {
  padding: 1.5rem 0;
}

.py3 {
  padding: 3rem 0;
}

.py4 {
  padding: 4rem 0;
}
.py5 {
  padding: 5rem 0;
}

.py6 {
  padding: 6rem 0;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 1.5rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 6rem;
}
