* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff5e3a;
}

::-webkit-scrollbar-thumb:hover {
  background: #e43a19;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 555;

  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px #c44a5483, 0 0 20px #931a2450, 0 0 40px #931a2475;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  /* border: solid rgb(0, 255, 106) 2px; */
}

.logo {
  display: flex;
  width: 150px;
  margin-left: 1rem;
  object-fit: contain;
  object-position: center;

  /* border: solid rgb(0, 255, 106) 2px; */
}

.navbar .nav-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: solid rgb(248, 255, 251) 3px; */
}

.navbar .btn {
  list-style: none;
  height: 100%;
  width: 160px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.5s;

  /* border: solid rgb(114, 102, 224) 2px; */
}

.navbar .contain-home-btn {
  background-color: #e2553c;
  /* border: solid rgb(255, 123, 0) 2px; */
}

.navbar .btn a {
  text-decoration: none;
  color: white;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Nunito", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;

  /* border: solid rgb(255, 255, 255) 3px; */
}

.navbar .contain-overview {
  position: relative;
}

.navbar .dropdown {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;

  display: none;

  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 150px;
}

.navbar .contain-overview.active .dropdown {
  display: flex;

  /* border: solid rgb(255, 0, 0) 3px; */
}

.navbar .dropdown li {
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.8);

  /* border: solid blue 3px; */
}

.navbar .dropdown li a {
  text-align: center;
}

.navbar .btn .dropdown li:hover,
.navbar .btn .dropdown a:hover {
  background: white;
  color: black;

  transition: 300ms ease-in;

  /* border: 3px solid white; */
}

.navbar .home-btn:hover {
  background-color: #ea5455;
  box-shadow: 0 0 10px #db5a6b, 0 0 40px #db5a6b, 0 0 80px #db5a6b;
  transition: ease-in 300ms;
}

.navbar ul li:hover {
  background-color: #ea5455;
  box-shadow: 0 0 10px #ea5455, 0 0 40px #ec0101, 0 0 80px #db5a6b;
  transition: ease-in 300ms;
}

.navbar .contain-overview.active .dropdown li {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: none;

  /* border: solid blue 3px; */
}

@media (max-width: 1080px) {
  .navbar {
    padding: 0 30px;
  }

  .logo {
    margin: 0px;
    transition: all 0.3s ease-in;
  }

  .logo.active {
    transition: all 0.3s ease-in;
  }

  .hamburger {
    width: 2.3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .hamburger .bar {
    display: block;

    height: 3px;
    width: 100%;
    margin: 4px;

    border-radius: 10px;

    background: white;

    transition: all 0.3s ease-in-out;
  }

  #mobile-menu.show .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.show .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  #mobile-menu.show .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;

    transition: all 0.3s ease-in;

    /* border: solid rgb(248, 255, 251) 3px; */
  }

  .nav-menu.show {
    height: auto;
    top: 100%;
    background: rgba(0, 0, 0, 0.8);

    transition: all 0.3s ease-in;

    /* border: solid rgb(114, 102, 224) 2px; */
  }

  .navbar .btn {
    height: 80px;
    width: 100%;

    /* border: solid rgb(114, 102, 224) 2px; */
  }

  .navbar .contain-overview {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    transition: all 300ms ease-in;

    /* border: 3px solid blue;*/
  }

  .navbar .contain-overview.active {
    box-shadow: none;

    /* border: 3px solid blue;*/
  }

  .navbar .contain-overview a {
    height: 80px;
  }

  .navbar .btn .dropdown {
    margin: 0;
    padding: 0;

    position: initial;
    width: 100%;

    display: none;
    height: auto;

    transition: 300ms ease-in;

    /* border: solid rgb(255, 0, 0) 3px; */
  }

  .navbar .btn .dropdown.show {
    display: block;
    transition: 300ms ease-in;
  }

  .navbar .btn .dropdown li {
    width: 100%;

    /* border: 3px solid white; */
  }

  .navbar .btn .dropdown-item {
    height: 50px;
  }
}

@media all and (max-width: 680px) {
  .logo {
    width: 100px;
  }

  .hamburger {
    width: 1.8rem;
  }

  .hamburger .bar {
    height: 2px;
    margin: 3px;
  }

  #mobile-menu.show .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.show .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.show .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar .nav-menu li {
    height: 60px;
  }

  .navbar .contain-overview.active {
    height: auto;
  }
}
