body::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url(img/japan-bg-4.jpg);
  background-position: 50% 60%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#tech-banner-txt {
  /* border: solid blue 3px; */
  font-family: "Major Mono Display", monospace;
  max-width: 90%;
  margin: 0 auto;
  background: #f2a07b;
  font-size: 50px;
  text-align: right;
  letter-spacing: 15px;
  color: black;
}

#tech-banner-txt h1 {
  line-height: 130px;
  padding: 45px 90px;
}

.tech-content {
  background-color: #f7f7f7;
  color: black;
  font-family: "fontscorecomttwcenmt";
}

.tech-body-txt {
  padding: 40px 90px;
}

.tech-body-txt ul {
  padding: 0;
  margin: 0;
  /* border: solid yellowgreen 3px; */
}

.tech-body-txt ul li {
  display: inline-flex;
  list-style-type: none;
  /* border: solid blue  3px; */
}

.tech-body-txt ul li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\25EF"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black; /* Change the color */
  margin-right: 1em; /* Also needed for space (tweak if needed) */
}

.tech-body-txt h2 {
  font-size: 28px;
}

.tech-body-txt p {
  font-family: "fontscorecomttwcenmt";
  /* border: solid yellowgreen 3px; */
  font-size: 18px;
  line-height: 40px;
  text-align: left;
}

.technology-image {
  /* border: solid red 3px; */
  display: block;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 70%;
  height: 500px;
}

#tvs-img {
  object-position: 50% 40%;
  height: 600px;
}
#speakers-img {
  object-position: 50% 50%;
}

#cd-img {
  object-position: 50% 20%;
  height: 600px;
}

#player-img {
  object-position: 50% 10%;
}

@media (max-width: 1080px) {
  #tech-banner-txt {
    font-size: 2.5rem;
    letter-spacing: 9px;
    color: black;
  }

  #tech-banner-txt h1 {
    line-height: 100px;
    padding: 45px 90px;
  }
}

@media (max-width: 850px) {
  #tech-banner-txt {
    font-size: 1.7rem;
    color: black;
  }

  #tech-banner-txt h1 {
    line-height: 80px;
    padding: 20px 40px;
  }

  .technology-image,
  #tvs-img,
  #cd-img {
    height: 300px;
  }
}

@media (max-width: 640px) {
  #tech-banner-txt {
    font-size: 1rem;
    letter-spacing: 9px;
    color: black;
    margin-bottom: 6rem;
  }

  #tech-banner-txt h1 {
    line-height: 50px;
    padding: 30px 20px;
  }

  .tech-body-txt {
    padding: 20px 50px;
  }

  .tech-body-txt p {
    font-family: "fontscorecomttwcenmt";
    /* border: solid yellowgreen 3px; */
    font-size: 1rem;
    line-height: 20px;
    text-align: left;
  }
}

@media (max-width: 380px) {
  #tech-banner-txt {
    font-size: 0.7rem;
    letter-spacing: 9px;
    color: black;
    margin-bottom: 6rem;
  }

  #tech-banner-txt h1 {
    line-height: 40px;
    padding: 30px 20px;
  }

  .tech-body-txt {
    padding: 20px 40px;
  }
}
